<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p>
      <span class="email read">&#9993;</span> <span class="emaill">mansi.singhal110801@gmail.com</span>
      </p>
   <p> <span class="ldn read">&#9990;</span> <span class="emaill">7976873885</span>
   </p>
<%- include("partials/footer"); -%>
